<html>
    <head>
        <meta charset="utf-8">
        <style> h1{font: 14pt Verdana, serif;} p{font: 14pt Courier New, monospace;}  </style>
    </head>
    <body>
        <h1 align="center"><b>О Т Ч Е Т</b><br></h1>
        <p align="left">
            {% for pair in pairs %}
                {{ pair }}
                <br>
            {% endfor %}
            ----------------------------------------<br>
        </p>
    </body>
</html>
